
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



.title {

  font-family: "Poppins";
  font-size: 88px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: #fcce00;
}

.section-title {

  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b00;
}

.sub-title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #231f20;
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/