 
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



.title {

  font-family: "Poppins";
  margin-bottom: 2px;
  font-size: 88px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: #fcce00;
}

.section-title {

  font-family: Poppins;
  margin-top: 4px;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  background-color: #ff6b00;
}

.deco-purple {
  height: 16px;
  background-color: #e02020;
}

.sub-title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #231f20;
  /* Default font, size, and margins */
}
.bitmap.png {
  width: 487px;
  height: 471px;
  object-fit: contain;
}

.sub-title { 
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #231f20;
}


h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/

.box {
  display: flex;
}
.photo {
  min-width: 50%;
  border: 171px solid orangered;
}


.texte{
  padding-top: 0;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  max-width: 50%;
  font-size: 16px;
  text-align: justify;
}
.titre-texte {
  margin-top: 0;
  text-align:center
}
 

/**
* ----------
* Components
* ----------
*/